/*=======GOOGLE FONTS============*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;500;600&display=swap');

/*=========== VARIABLE CSS============*/

:root{
    /*====COLORS=========*/
    --hue-color:242;

    /*  HSL Color Mode*/
    --skin-color: hsl(342,92%,46%);
    --title-color: hsl(var(--hue-color),8%,95%);
    --text-color: hsl(var(--hue-color),8%,85%);
    --body-color: hsl(var(--hue-color),19%,5%);
    --box-color: hsl(var(--hue-color),14%,10%);
    --scroll-bar-color: hsl(var(--hue-color),12%,38%);
    --scroll-thumb-color: hsl(var(--hue-color),12%,26%);

    /*============FONT and TOPOGRAPHY========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size:48px;
    --h1-font-size:36px;
    --h2-font-size:24px;
    --h3-font-size:20px;
    --normal-font-size:16px;
    --small-font-size:14px;
    --smaller-font-size:13px;

    /*===========FONT WEIGHT=======*/
    --font-medium:500;
    --font-bold:600;

    /*============MARGIN BOTTOM==========*/
    --mb-0-4: 4px;
    --mb-0-8: 8px;
    --mb-1-2: 12px;
    --mb-1-6: 16px;
    --mb-2-4: 24px;
    --mb-3-2: 32px;
    --mb-4-0: 20px;
    --mb-4-8: 48px;

    /*=========Z-INDEX==========*/
    --z-fixed: 10;
    --z-modal: 100;

   
}
 /*  RESPONSIVE TYPOGRAPHY  */
 @media screen and (max-width: 1024px){
    :root{
        --biggest-font-size: 36px;
        --h1-font-size: 24px;
        --h2-font-size: 20px;
        --h3-font-size: 18px;
        --normal-font-size: 15px;
        --small-font-size: 13px;
        --smaller-font-size: 12px;
    }
}

/*===========BASE=============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

button,
input{
    border: none;
    outline: none;
}
/*============LAYOUT============*/
.container{
    max-width: 1250px;
    margin-left: auto;
    padding-left: 40px;
    margin-right: auto;
}
.grid{
    display: grid;
}

/*============== REUSABLE CSS CLASSES============*/
.section{
    padding: 6.5rem 0 2rem ;
}

.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-4-0);
}
.section_title::before{
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}

/*=================SIDEBAR==============*/
.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
    transition: .5s;
}

.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}

.nav_logo-text{
    font-size: 18px;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;    
}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu{
    display: flex;
}

.nav_list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link{
    font-size: 15px;
    height: 100%;
    float: right;
    line-height: 100px;
    padding: 0 8px;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

.btn_share{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.8rem;
    text-align: center;
}

.social_share{
    font-size: 24px;
}

.nav_toggle{
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
    z-index: var(--z-fixed);
}

.nav_close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    font-size: 30px; /* Increase font size */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 5px; /* Rounded corners */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/*          ACTIVE LINK          */
.nav_link.active-link, .nav_link:hover{
    color: var(--skin-color);
}

.nav_link.active-link::after, .nav_link:hover::after{
    position: absolute;
    content:"";
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
    
}
/*===============MAIN================*/
.main{
    margin-left: 100px;
}

/*===========HOME SECTION=========*/
.home{
    background: url('../img/home-img.JPG');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.home_container{
    height: 100%;
    position: relative;
    align-items: center;
}
.home_social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}
.home_social-follow{
    font-weight: var(--font-medium);
    position: relative;
}
.home_social-follow::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--text-color);
    right: -40%;
    top: 50%;
}
.home_social-links{
    display: inline-flex;
    column-gap: 16px;
}
.home_social-link{
    font-size: 1.08rem;
    color: var(--text-color);
    transition: .3s;
}
.home_social-link:hover{
    transform: translateY(.25rem);
}
.home_img{
    display: none;
}

.home_title{
    font-size: var(--biggest-font-size);
}

.home_subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-2);
}


.home_description{
    max-width: 450px;
    margin-bottom: var(--mb-3-2);
}
.my_info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info_item{
    display: flex;
    align-items: center;
}

.info_title,
.info_subtitle{
    font-size: var(--small-font-size);
}

.info_title{
    font-weight: var(--font-medium);
}

.info_icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-1-2);
}

/*========BUTTONS=================*/

.button{
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: 12px 22px;
    border-radius: 4px;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    
}
.button::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: 4px;
    transition: .4s;
}
.button:hover::after{
    transform: scale(1);
}

.button_icon{
    font-size: 20px;
}

/*============== ABOUT SECTION=============*/

.about_container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    align-items: center;
}

.about_img{
    width: 480px;
    border-radius: 1.5rem;
    justify-self: center;
    z-index: 0;
}

.about_heading{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-2);
}

.about_description{
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-1-6);
}

.about_info{
    display: grid;
    grid-template-columns: repeat(3,140px);
    column-gap: 8px;
    margin-bottom: var(--mb-3-2);
}

.about_box{
    text-align: center;
    border-radius: 4px;
    padding: 16px 20px;
    background-color: var(--box-color);
}

.about_icon{
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-1-2);
}

.about_title{
    font-size: var(--small-font-size);
}

.about_subtitle{
    font-size: var(--smaller-font-size);
}
/*============QUALIFICATION SECTION===========*/

.qualification_container{
    grid-template-columns: repeat(2,340px);
    column-gap: 3rem;
    justify-content: center;
}
.qualification_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-3-2);
}
.timeline_item{
    position: relative;
    padding-left: 3rem;
    margin-bottom: var(--mb-4-0);
}

.timeline_item:last-child{
    margin-bottom: 0;
}
.timeline_item::before{
    content:'';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle_dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .3s;
}

.timeline_item:hover .circle_dot{
    background-color: var(--body-color);
}

.timeline_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-4);
}

.timeline_text{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-6);
}

.timeline_date{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--skin-color);
}
/*===========SKILLS SECTION====================*/

.skills_container{
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}
.skills_header{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.skills_header:not(:last-child){
    margin-bottom: var(--mb-4-0);
}
.skills_icon,
.skills_arrow{
    font-size: 2rem;
    color: var(--skin-color);
}

.skills_icon{
    margin-right: var(--mb-1-2);
}

.skills_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills_subtitle{
    font-size: var(--small-font-size);
}

.skills_arrow{
    margin-left: auto;
}

.skills_active .skills_arrow{
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content]{
    display: none;
}

.skills_active[data-content]{
    display: block;
}

.skills_list{
    row-gap: 1.8rem;
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-8);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--box-color);
}

.skills_percentage{
    display: block;
    background-color: var(--skin-color);
}

/*============WORK SECTION==============*/

.work_container{
    grid-template-columns: repeat(3,330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}
.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-top: 2rem;
}
.work_item{
    cursor: pointer;
    color : var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work_card{
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio_item-details{
    display: none;
}


.work_img{
    border-radius: .5rem;
    color: var(--title-color);
}

.work_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-8);
}

.work_button{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button-icon{
    font-size: 1rem;
    transition: .3s;
}
.work_button:hover .work_button-icon{
    transform: translateX(.25rem);
}

/*==============ACTIVE ITEM WORK===============*/

.active-work{
    background-color: var(--skin-color);
    color: var(--title-color);
}

/*   Portfolio Popup*/
.portfolio_popup{
    position: fixed;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.portfolio_popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio_popup-inner{
    background-color: var(--box-color);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio_popup-content{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio_popup-img{
    border-radius: .5rem;
}

.portfolio_popup-subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-4);
}

.details_title{
    font-size: var(--h3-font-size) ;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-6);
}

.details_description{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3-2);
}

.details_info li{
    margin-bottom: var(--mb-1-6);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details_info li:last-child{
    margin-bottom: 0;
}

.details_info li span{
    font-weight: normal;
}

.details_info li a{
    text-transform: lowercase;
    color: var(--skin-color);
}


/*========== Contact Section ==========*/

.contact_container{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact_info{
    display: grid;
    row-gap: 1rem;
}

.contact_card{
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact_card-icon{
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-4);
}

.contact_card-title,
.contact_card-data {
    font-size: var(--small-font-size);
}

.contact_card-title{
    font-weight: var(--font-medium);
}

.contact_card-data{
    display: block ;
    margin-bottom: var(--mb-1-2);
}

.contact_button{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.clink{
    color: var(--skin-color);
}

.contact_button-icon{
    font-size: 1rem;
    transition: .3s;
}
.contact_button:hover .contact_button-icon{
    transform: translateX(.25rem);
}


.input_container{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input{
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    outline: none;
    font-size: var(--normal-font-size);
    letter-spacing: .5px;
    border-radius: .5rem;
    transition: .3s;
}

textarea.input{
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: 0.5rem;
    resize: none;
}

.input_container label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 15;
    transition: .5s;
}

.input_container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.input_container span{
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: var(--z-fixed);
}

.input_container span::before,
.input_container span::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.input_container span::before{
    left: 50%;
}

.input_container span::after{
    right: 50%;
}

.input_container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input_container.focus span::before,
.input_container.focus span::after{
    width: 50%;
    opacity: 1;
}


/*========= FOOTER ================*/

.footer{
    padding-top: 2rem;
}

.footer_container{
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.6rem;
}

.footer_bg{
    background-color: var(--box-color);
    padding: 3rem 0 3.5rem;
}

.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-4);
}

.footer_subtitle{
    font-size: var(--small-font-size);
}

.footer_links{
    display: flex;
    justify-self: center;
    column-gap: 2rem;
}

.footer_link:hover{
    color: var(--skin-color);
}

.footer_socials{
    justify-self: flex-end;
}

.footer_social{
    font-size: 1.25rem;
    margin-right: var(--mb-2-4);
}

.footer_social:hover{
    color: var(--skin-color);
}

.footer_copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: 4.5rem;
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social{
    color: var(--title-color);
}

/* =============== SCROLL BAR ========= */
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}



/* ============  BREAKPOINTS ============== */
/* For larger Devices */
@media screen and (max-width: 1408px){
    .container{
        margin-left: var(--mb-4-0);
        margin-right: var(--mb-4-0);
    }
}

@media screen and (max-width: 1216px){
    .about_container{
        column-gap: 2.5rem;
    }

    .about_description{
        padding-right: 0;
    }

    .work_container{
        grid-template-columns: repeat(2,330px);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 1024px){
    .container{
        margin-left: var(--mb-2-4);
        margin-right: var(--mb-2-4);
    }

    .sidebar{
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }

.show-sidebar{
    transform: translateX(0);
}

    .nav_logo,
    .btn_share{
        display: none;
    }

    .nav_menu{
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav_list{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav_link{
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav_link.active-link::after, .nav_link:hover::after{
        bottom: 0;
    }

    .nav_close{
        display: block;
    }

    .nav_toggle{
        display: flex;
    }

    .main{
        margin-left: 0;
    }

    .about_container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about_img{
        width: 350px;
    }

    .about_data{
        text-align: center;
    }

    .about_info{
        justify-content: center;
    }

    .about_box{
        padding: .75rem .5rem;
    }

    .about_description{
        padding: 0 4rem;
        text-align: center;
    }

    .qualification_container{
        grid-template-columns: repeat(2,290px);
    }

    .skills_container{
        grid-template-columns: 340px 300px;
    }

    .skills_list{
        row-gap: 1.7rem;
    }

    .work_card{
        padding: 1rem;
    }

    .work_img{
        margin-bottom: var(--mb-1-2);
    }

    .work_title{
        margin-bottom: var(--mb-0-4);
    }

    .portfolio_item-details{
        margin-bottom: var(--mb-2-4);
    }
    .dtails_info li{
        margin-bottom: var(--mb-0-8);
    }
    .details_title{
        margin-bottom: var(--mb-1-2);
    }

}

/* For Medium Devices */
@media screen and (max-width: 768px){
    .about_img{
        width: 250px;
    }

    .qualification_container{
        grid-template-columns: 290px;
        row-gap: 3rem;
    }

    .skills_container{
        grid-template-columns: 300px;
        row-gap: 3rem;
    }

    .work_container{
        grid-template-columns: 330px;
    }

    .contact_container{
        grid-template-columns: 360px;
        row-gap: 3rem;
    }

    .footer_container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 3rem;
    }

    .footer_socials{
        justify-self: start;
    }

    .footer_links{
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer_bg{
        padding: 2rem 0 3rem;
    }

    .footer_copy{
        margin-top: var(--mb-4-8);
    }

    .portfolio_popup-inner{
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }

    .portfolio_popup-content{
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .details_title{
        font-size: var(--normal-font-size);
    }
    .portfolio_popup-close{
        top: .5rem;
    }
    #myBtn{
        bottom: 10px; 
        right: 20px; 
        font-size: 20px; 
    }
}

@media screen and (max-width: 576px){

    .nav_toggle{
        right: initial;
        left: 1.5rem;
    }

    .home{
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home_container{
        row-gap: 2rem;
    }

    .home_img{
        display: block;
        width: 250px;
        justify-self: center;
    }

    .home_social{
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }


    .home_social-follow{
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home_social-links{
        flex-direction: column;
        row-gap: .25rem;
    }

    .home_social-link{
        font-size: var(--normal-font-size);
    }

    .my_info{
        display: none;
    }

    .about_info{
        grid-template-columns: repeat(3,1fr);
    }

    .about_description{
        padding: 0;
    }

    .contact_container,
    .work_container{
        grid-template-columns: 300px;
    }

    .footer_container{
        grid-template-columns: 1fr;
    }

    .footer_links{
        justify-self: flex-start;
    }
    #myBtn{
        bottom: 10px; 
        right: 20px; 
        font-size: 20px; 
    }
}

/* For Small Devices*/
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1-6);
        margin-right: var(--mb-1-6);
    }

    .home_img{
        width: 200px;
    }

    .home_title{
        font-size: var(--h1-font-size);
    }

    .home_subtitle{
        font-size: var(--normal-font-size);
    }

    .about_info{
        grid-template-columns: repeat(2,1fr);
        row-gap: .5rem;
    }

    .contact_container,
    .work_container,
    .skills_container,
    .qualification_container{
        grid-template-columns: 1fr;
    }

    .skills_title{
        font-size: var(--normal-font-size);
    }

    .work_item{
        font-size: var(--small-font-size);
    }

    .work_filters{
        column-gap: .25rem;
    }
    #myBtn{
        bottom: 8px; 
        right: 10px; 
        font-size: 15px; 
    }

}